  <form  method="POST" action="/data/search">
      <label for="productID">Enter Product ID:</label><br>
      <input type="text" name="asin" placeholder="Enter ASIN"><br>
      <button type="submit">Search</button>
    </form>