<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header> 
      <h2>Akshat Gandhi N01579366</h2>
      </header>
    {{{body}}}
    <footer>
      <h2>akshatgandhi1607@gmail.com</h2>
      </footer>
  </body>
</html>